[core]
    	excludesfile = ~/.gitignore_global
	editor = nvim
[user]
	name = Sergey Sudakovich
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	templateDir = /Users/ssudakovich/.git-template
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig
