{{- $email := "" -}}
{{- if (hasKey . "email") -}}
{{-   $email = .email -}}
{{- else -}}
{{-   if (env "CI") -}}
{{-     $email = "test@test.com" -}}
{{-   else -}}
{{-     $email = promptString "email" -}}
{{-   end -}}
{{- end -}}
{{- $personal := false -}}

[data]
    email = {{ $email | quote }}
    personal = {{ $personal }}
