{{- $fullname := promptStringOnce . "fullname" "What is your full name" -}}
{{- $email := promptStringOnce . "email" "What is your email" -}}
{{- $personal := promptBoolOnce . "personal" "Is this your work computer" -}}

[data]
    fullname = {{ $fullname }}
    email = {{ $email }}
    personal = {{ $isWorkComputer }}

[git]
    autoCommit = true
    autoPush = true
