[submodule "zsh/.zsh/zsh-autosuggestions"]
	path = zsh/.zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh/.zsh/zsh-syntax-highlighting"]
	path = zsh/.zsh/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/.zsh/zsh-completions"]
	path = zsh/.zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "zsh/.zsh/alias-tips"]
	path = zsh/.zsh/alias-tips
	url = https://github.com/djui/alias-tips.git
[submodule "zsh/.zsh/ohmyzsh"]
	path = zsh/.zsh/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "zsh/.zsh/spaceship-prompt"]
	path = zsh/.zsh/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "zsh/.zsh/forgit"]
        path = zsh/.zsh/forgit
        url = https://github.com/wfxr/forgit.git
