tap "adoptopenjdk/openjdk"
tap "buo/cask-upgrade"
tap "cantino/mcfly"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"
tap "kevwil/patches"
tap "simeji/jid"
tap "sourcegraph/src-cli"
tap "thoughtbot/formulae"
tap "weaveworks/tap"
brew "act"
brew "asciinema"
brew "aspell"
brew "awscli"
brew "azure-cli"
brew "bash"
brew "bat"
brew "broot"
brew "bzip2"
brew "fontconfig"
brew "glib"
brew "chezmoi"
brew "cmake"
brew "coreutils"
brew "ctags"
brew "curl"
brew "direnv"
brew "docker-machine"
brew "docker-machine-parallels"
brew "entr"
brew "fasd"
brew "fd"
brew "gobject-introspection"
brew "ffmpeg"
brew "fzf"
brew "gawk"
brew "gh"
brew "git-secrets"
brew "gnu-tar"
brew "gnupg"
brew "go"
brew "go-jira"
brew "golangci-lint"
brew "goreleaser"
brew "grep"
brew "helm"
brew "htop"
brew "jc"
brew "jq"
brew "jrnl"
brew "luajit"
brew "luarocks"
brew "node"
brew "markdownlint-cli"
brew "midnight-commander"
brew "minikube"
brew "mtr"
brew "neovim"
brew "nfpm"
brew "nghttp2"
brew "parallel"
brew "pigz"
brew "podman"
brew "protobuf"
brew "pyenv"
brew "pyenv-virtualenv"
brew "ranger"
brew "ripgrep"
brew "rpm"
brew "rsync"
brew "rustup-init"
brew "s-search"
brew "shellcheck"
brew "shfmt"
brew "smimesign"
brew "starship"
brew "stow"
brew "subversion"
brew "task"
brew "terraform-docs"
brew "tfenv"
brew "tflint"
brew "tmux"
brew "todo-txt"
brew "tree"
brew "vault"
brew "wget"
brew "yank"
brew "zlib"
brew "zsh"
brew "hashicorp/tap/terraform-ls"
brew "sourcegraph/src-cli/src-cli"
cask "adoptopenjdk11"
cask "alacritty"
cask "alfred"
cask "dash"
cask "docker"
cask "drawio"
cask "flux"
cask "font-source-code-pro"
cask "google-cloud-sdk"
cask "iterm2"
cask "parallels-virtualization-sdk"
cask "raycast"
cask "sizeup"
cask "snowflake-snowsql"
cask "stats"
cask "vagrant"
cask "virtualbox"

{{- if .personal }}
brew "yq"
{{- end }}
