[user]
	name = Sergey Sudakovich
[init]
	templateDir = {{.chezmoi.homeDir}}/git-template
[includeIf "gitdir:{{.chezmoi.homeDir}}/work/"]
	path = {{.chezmoi.homeDir}}/work/.gitconfig
[includeIf "gitdir:{{.chezmoi.homeDir}}/go/"]
	path = {{.chezmoi.homeDir}}/work/.gitconfig
[core]
	excludesfile = {{.chezmoi.homeDir}}/gitignore
