[user]
	name = Sergey Sudakovich
    email = {{ .email }}
[init]
	templateDir = ~/git-template
[includeIf "gitdir:~/work/"]
	path = ~/work/.gitconfig
[includeIf "gitdir:~/go/"]
	path = ~/work/.gitconfig
[core]
	excludesfile = ~/.gitignore
