tap "buo/cask-upgrade"
tap "cantino/mcfly"
tap "hashicorp/tap"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "homebrew/core"
tap "homebrew/services"
tap "kevwil/patches"
tap "simeji/jid"
tap "sourcegraph/src-cli"
tap "thoughtbot/formulae"
tap "weaveworks/tap"

brew "act"
brew "asciinema"
brew "aspell"
brew "bash"
brew "bat"
brew "broot"
brew "bzip2"
brew "cmake"
brew "coreutils"
brew "ctags"
brew "curl"
brew "direnv"
brew "docker-machine"
brew "docker-machine-parallels"
brew "entr"
brew "fasd"
brew "fd"
brew "ffmpeg"
brew "fontconfig"
brew "fzf"
brew "gawk"
brew "gh"
brew "git-secrets"
brew "glib"
brew "gnu-tar"
brew "gnupg"
brew "golang"
brew "gobject-introspection"
brew "golangci-lint"
brew "goreleaser"
brew "grep"
brew "htop"
brew "jc"
brew "jq"
brew "jrnl"
brew "luajit"
brew "luarocks"
brew "markdownlint-cli"
brew "midnight-commander"
brew "mtr"
brew "neovim"
brew "nfpm"
brew "nghttp2"
brew "node"
brew "parallel"
brew "pigz"
brew "protobuf"
brew "pyenv"
brew "pyenv-virtualenv"
brew "ranger"
brew "ripgrep"
brew "rpm"
brew "rsync"
brew "rustup-init"
brew "s-search"
brew "shellcheck"
brew "shfmt"
brew "smimesign"
brew "starship"
brew "task"
brew "tmux"
brew "todo-txt"
brew "tree"
brew "wget"
brew "yank"
brew "zlib"
brew "zoxide"
brew "zsh"
cask "alacritty"
cask "alfred"
cask "dash"
cask "docker"
cask "flux"
cask "iterm2"
cask "parallels-virtualization-sdk"
cask "sizeup"
