{{- if (env "CI") -}}
{{-     $email = promptString "email" -}}
{{-     $personal = true -}}
{{- end -}}

{{ $email := promptStringOnce . "email" "What is your email address" }}
{{ $personal := promptBoolOnce . "personal" "Is this a personal machine" }}

[data]
    email = {{ $email | quote }}
    personal = {{ $personal }}
[git]
    autoCommit = true
    autoPush = true
