{{- $email := "sergey@sudakovich.com" -}}
{{- $personal := false -}}

{{/* work around unreliable hostname on darwin */}}
{{- $hostname := .chezmoi.hostname -}}
{{- if eq .chezmoi.os "darwin" -}}
{{-   $computerName := output "scutil" "--get" "ComputerName" | trim -}}
{{-   if eq $computerName "Sergey’s MacBook Air" -}}
{{-     $hostname = "sergeys-mba" -}}
{{-   else -}}
{{-     $hostname = $computerName -}}
{{-   end -}}
{{- end -}}

{{- if eq $hostname "sergeys-mba" -}}
{{-     $personal = true -}}
{{- end -}}

[data]
    fullname = "Sergey Sudakovich"
    email = {{ $email | quote }}
    personal = {{ $personal }}
[git]
    autoCommit = true
    autoPush = false
