# Set a strict global timeout (applies to all module file/dir scans)
scan_timeout = 10

[golang]
disabled = true
truncate_to_repo = true
[hostname]
disabled = true
[package]
disabled = true
[status]
disabled = true
[hg_branch]
disabled = true
[dart]
disabled = true
[dotnet]
disabled = true
[elixir]
disabled = true
[elm]
disabled = true
[erlang]
disabled = true
[git_status]
disabled = true
[git_commit]
disabled = true
[git_state]
disabled = true
[helm]
disabled = true
[java]
disabled = true
[julia]
disabled = true
[kotlin]
disabled = true
[nodejs]
disabled = true
[nim]
disabled = true
[ocaml]
disabled = true
[php]
disabled = true
[purescript]
disabled = true
[swift]
disabled = true
[zig]
disabled = true
[memory_usage]
disabled = true
[gcloud]
disabled = true
[openstack]
disabled = true
[crystal]
disabled = true
[lua]
disabled = true
